﻿@model StudentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1> add new studen </h1>
<br/>
<br/>
<form asp-action="Create">
    <partial name="PartialView/_CreateEditPartialView" />
    <input type="submit" value="sumbit" class="btn btn-primary"/> ||
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection {

   <partial name ="_ValidationScriptsPartial" />

}
