﻿@model IEnumerable<StudentViewModel>
@{
    ViewData["Title"] = "Index";
   
}
<h1>All student </h1>
<br/>  
<br/>
<a asp-Controller ="Student" asp-action="Create" class= "btn btn-primary" > Create new student</a>
<br />
<br />

  <br />
  <br />
  <br/>

@if(Model.Count() >0 )
{
    <form>
    <table class="table table-striped table-hover">
      <thead>
            <tr>
                <th>@Html.DisplayNameFor(D=>D.Name)</th>
                <th>@Html.DisplayNameFor(D=>D.Address)</th>
                <th>@Html.DisplayNameFor(D=>D.Phone)</th>
                <th> Details</th>
                <th> Update</th>
                <th>Delete</th>
            </tr>
      </thead>
       <tbody>
           @foreach(var student in Model)
           {
               <tr>
                   <td>@student.Name</td>
                   <td>@student.Address</td>
                   <td>@student.Phone</td>
                   <partial name="_ButtonsPartialView" model="@student.Id.ToString()"/> 
               </tr>
           }

      </tbody>
    </table>
    </form>
}
else
{
    <div class="mt-5 alert-warning">
      <h3>There is No Student </h3>
    </div>
    
}