﻿@model string
    <td>  
       <a asp-action="Details" class="btn btn-warning" asp-route-id ="@Model  " >
          <i  class="fas fa-eye"> </i>Details
          </a> 
    </td>
     <td>
      <a asp-action="Edit" class="btn  btn-success" asp-route-id ="@Model" >
                         <i  class="fas fa-pencil"> </i>Eidet
         </a>
    </td>
     <td>
       <a asp-action="Delete" class="btn  btn-danger" asp-route-id ="@Model" >
                                    <i  class="fas fa-trash"> </i>Delete
       </a>
   </td>