﻿@model StudentViewModel

<div>

   <div class="form-group">
        <lab el class="col-form-label" asp-for ="Name"></label>
         <input  class="form-control" asp-for ="Name" />
         <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
         <input  class="form-control" asp-for ="Address" />
         <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Phone"></label>
         <input  class="form-control" asp-for ="Phone" type="date" />
         <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    </div>